/*
color palette: https://lospec.com/palette-list/paper10
*/

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Salsa&display=swap');

:root {
    --white: #ecfbff;
    --yellow:#ffd174;
    --orange: #ff9932;
    --salmon: #f2734e;
    --red: #ee0f4d;
    --pink: #db51db;
    --purple: #992caf;
    --green: #019070;
    --blue:  #3f3479;
    --dark-blue: #262640;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}