<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/relatorio.css">
    <title>Relatório - Catálogo de Jogos</title>
</head>
<body>
    <div class="wrapper">
        <h1>Nome do Jogo</h1>        
        <h2>Resultado do Calculo de *inserir método*: </h2>
        <h2>10</h2>

        <button class="button"><a href="../index.html">Voltar</a></button>
    </div>
</body>
</html>