@import url(layout.css);

body {
    font-family: 'Poppins', sans-serif;
    padding: 0 1em;
}

.header {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}

a {
    font-size: 1.2em;
}

.wrapper {
    min-width: fit-content;
    max-width: 500px;
    border: 2px solid rgb(146, 2, 2);
    box-shadow: 4px 3px 7px 0px rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    cursor: default;
}

.passagem-box {
    display: flex;
    gap: 2em;
    padding: 1.4em;
    font-size: 1.2em;
    justify-content: space-around;
}

.passagem-box div {
    display: flex;
    flex-direction: column;
}

span {
    font-weight: 700;
}

p {
    width: 100%;
    text-align: center;
}