@import url(layout.css);

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
}

.wrapper {
    color: var(--yellow);
    font-family: "Poppins", sans-serif;
}

.wrapper h2 {
	text-transform: capitalize;
}

a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    text-decoration: none;
    color: black;
}

ul {
	text-align: center
}

li {
	list-style-type: none;
	font-weight: 500;
	font-size: 1.1em;
}
